<section class="py-2 border-t border-gray-200">
  <div class="flex gap-4 overflow-x-auto py-2 scrollbar-hide">
    <div class="flex flex-col items-center">
      <div
        class="w-16 h-16 rounded-full border border-gray-300 flex items-center justify-center mb-1"
      >
        <div
          class="w-14 h-14 rounded-full bg-gray-100 flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-gray-400"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"></path>
          </svg>
        </div>
      </div>
      <span class="text-xs">New</span>
    </div>
  </div>
</section>
